<div id="<%= dom_id bank %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Month:</strong>
    <%= bank.month %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bank value:</strong>
    <%= bank.bank_value %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= bank.user_id %>
  </div>
</div>
