    <nav class="bg-white shadow">
        <div class="container mx-auto px-4">
            <ul class="flex justify-center space-x-6 py-4 text-gray-700 font-medium gap-4">
                <li><%= link_to "Home", root_path, class: "text-gray-700 hover:text-blue-500" %></li>
                <li><%= link_to "Casas", books_path, class: "text-gray-700 hover:text-blue-500" %></li>
                <li><%= link_to "Transações", transactions_path, class: "text-gray-700 hover:text-blue-500" %></li>
                <li><%= link_to "Balanço diário", daily_balances_path, class: "text-gray-700 hover:text-blue-500" %></li>
            </ul>
        </div>
    </nav>