<div class="w-full container mx-auto mt-16 px-5">
    <div class="flex justify-between items-center mb-4">
        <h1 class="font-bold text-4xl">Books</h1>
    </div>
    <!-- Form Section -->
    <div class="bg-white shadow-md rounded-lg p-5 mb-5">
        <%= turbo_frame_tag "new-book-form", src: new_book_path %>
    </div>

    <div class="bg-white shadow-md rounded-lg p-5">
        <div class="w-full border border-gray-300 rounded-md">
            <div class="grid grid-cols-7 bg-gray-100 font-bold py-3 px-4 border-b">
                <div>Owner</div>
                <div>Book</div>
                <div>Slug</div>
                <div>Deposit</div>
                <div>Withdraw</div>
                <div>Balance</div>
                <div></div>
            </div>

            <div id="books">
                <%= render @books %>
            </div>
        </div>
    </div>